<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Barrio|Fascinate|Lato" rel="stylesheet">

    <title>Sunshine Daycare</title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= favicon_link_tag 'favicon.ico' %>


    <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render "shared/application_nav"%>

    <%= yield %>

    <main role="main">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "markus-spiske-135763.jpg", alt: "Second slide" %>
            <div class="container">
              <div class="carousel-caption">
                <h1>Sunshine Daycare</h1>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <%= image_tag "annie-spratt-66432 (1).jpg", alt: "Second slide" %>
            <div class="container">
              <div class="carousel-caption">
                <h1>Sunshine Daycare</h1>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <%= image_tag "aaron-burden-73461.jpg", alt: "Second slide" %>
            <div class="container">
              <div class="carousel-caption">
                <h1>Sunshine Daycare</h1>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <div class="container marketing">
        <div class="row">

        <div class="col-lg-4">
            <%= image_tag("katie-smith-104748.jpg", alt: "Second slide", size: 140, :class =>"rounded-circle")%>
            <h2>Meals and Snacks</h2>
            <p>We are always trying to perfect our healthy but kid friendly menu, and are always willing to adjust for allergy or dietary needs.</p>
            <p><a class="btn btn-secondary" href="menu" role="button">View details &raquo;</a></p>
          </div>

          <div class="col-lg-4">
            <%= image_tag("allef-vinicius-110497.jpg", alt: "Second slide", size: 140, :class =>"rounded-circle")%>
            <h2>About Us</h2>
            <p>The three of us have been working together for over two years, creating a warm and fun home environment. We'd love a chance to meet you and your little ones. Click here to learn a little more about us!</p>
            <p><a class="btn btn-secondary" href="about" role="button">Read More &raquo;</a></p>
          </div>

          <div class="col-lg-4">
            <%= image_tag("click-and-boo-246755.jpg", alt: "Second slide", size: 140, :class =>"rounded-circle")%>
            <h2>Prices</h2>
            <p>Prices include all meals and snacks. We are state certified and accept state assistance. Please contact us if you have any questions.</p>
            <p><a class="btn btn-secondary" href="pricing" role="button">Read more &raquo;</a></p>
          </div>
        </div>


        <hr class="featurette-divider">

        <!-- <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading"><span class="text-muted">Learning</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5">
            <%= image_tag "element5-digital-352043.jpg", alt: "Second slide", :class =>"featurette-image img-fluid mx-auto"%>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Crafts and projects <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <%= image_tag "aaron-burden-60068.jpg", alt: "Second slide", :class =>"featurette-image img-fluid mx-auto"%>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Lots of socializing <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">hgkjhjkhkjhk</p>
          </div>
          <div class="col-md-5">
            <%= image_tag "joshua-clay-27368.jpg", alt: "Second slide", :class =>"featurette-image img-fluid mx-auto"%>
          </div>
        </div>

        <hr class="featurette-divider"> -->

      </div><!-- /.container -->


      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <%= copyright_generator %>
      </footer>

    </main>

  </body>
</html>
